<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Đặt bàn</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/table/table.js}" defer></script>
  </head>
  <body
    th:attr="data-selected-table-id=${selectedTableId},data-modal=${modalType}"
  >
    <div
      layout:fragment="content"
      class="relative z-10 min-h-full flex justify-center w-full p-6"
    >
      <div th:replace="~{tables/fragments/main :: main}"></div>

      <!-- Modal tách bàn -->
      <div
        th:replace="~{tables/fragments/split-table-modal :: split-table-modal}"
      ></div>

      <!-- Modal thanh toán bàn -->
      <div
        th:replace="~{tables/fragments/payment-modal :: payment-modal}"
      ></div>

      <!-- Modal xem thông tin bàn -->
      <div
        th:replace="~{tables/fragments/view-table-modal :: view-table-modal}"
      ></div>

      <!-- Modal chọn thực đơn -->
      <div th:replace="~{tables/fragments/menu-modal :: menu-modal}"></div>

      <!-- Modal chuyển bàn -->
      <div
        th:replace="~{tables/fragments/switch-table-modal :: switch-table-modal}"
      ></div>

      <!-- Modal Đặt bàn  -->
      <div
        th:replace="~{tables/fragments/booking-modal :: booking-modal}"
      ></div>

      <!-- Modal gộp bàn -->
      <div
        th:replace="~{tables/fragments/merge-table-modal :: merge-table-modal}"
      ></div>

      <!-- Form hủy bàn  -->
      <form
        id="cancelTableForm"
        method="post"
        th:action="@{/sale/cancel-table}"
        style="display: none"
      >
        <input type="hidden" name="tableId" id="cancelTableIdInput" />
      </form>
    </div>
  </body>
</html>
